.about-me {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  font-family: "Roboto, sans-serif";
}

.pokeball {
  width: 150px;
}

.main {
  color: darkblue;
}

.introduction p {
  font-size: 1.1em;
  margin-bottom: 10px;
}

.favorite-pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-favorite {
  color: darkblue;
}

.pokemon-list {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.pokemon-card {
  text-align: center;
}

.pokemon-card img {
  width: 100px;
  height: auto;
}

.about-technologies {
  color: darkblue;
  margin-bottom: 10px;
}

.about-facts {
  color: darkblue;
  margin-bottom: 10px;
}

.about-contact {
  color: darkblue;
  margin-bottom: 10px;
}

.skills ul,
.fun-facts ul {
  list-style-type: none;
  padding: 0;
}

.contact ul {
  list-style-type: none;
  padding: 0;
}

.contact a {
  color: #0073e6;
  text-decoration: none;
}
