.about-me {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.about-me__ball {
  width: 150px;
}

.about-me__title {
  color: darkblue;
}

.about-me__introduction p {
  font-size: 1.1em;
  margin-bottom: 10px;
}

.about-me__pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me__favorite {
  color: darkblue;
}

.pokemon__list {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.pokemon__card {
  text-align: center;
}

.pokemon__card img {
  width: 100px;
  height: auto;
}

.about__technologies {
  color: darkblue;
  margin-bottom: 10px;
}

.about__facts {
  color: darkblue;
  margin-bottom: 10px;
}

.about__contact {
  color: darkblue;
  margin-bottom: 10px;
}

.skills ul,
.fun-facts ul {
  list-style-type: none;
  padding: 0;
}

.contact ul {
  list-style-type: none;
  padding: 0;
}

.contact a {
  color: #0073e6;
  text-decoration: none;
}
